<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infratrans.taxi.onboard"
    android:versionCode="40"
    android:versionName="@string/app_version" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- <uses-permission android:name="android.permission.INSTALL_PACKAGES"/> -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:manageSpaceActivity=".ActivityOfYourChoice"
        android:theme="@style/AppTheme" >




        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCwLxBAyevxGljkEJ7VD3A9_QszRptoTSw" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" />
        <!--
        activity android:name="com.melody.mobile.android.qrcode.PreferencesActivity" android:screenOrientation="landscape"/>
        <activity android:name="com.melody.mobile.android.qrcode.DisplayQRCodeActivity" android:screenOrientation="landscape"/>
        <activity android:name="com.melody.mobile.android.qrcode.CaptureActivity"  android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:windowSoftInputMode="stateAlwaysHidden" /
        -->

        <service android:name=".services.JobTracking" />
        <service android:name=".services.TaxiStatusTracking" />
        <service android:name=".services.LocationService" />
        <service android:name=".services.DownloadService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="f8ce2fbc47f5e4c5069d5d0563f556b56530fcab" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1f3fba411fd4a62cffd94b0a563a90afa14d5563" />
    </application>

</manifest>
